<h1><%= @api_data["items"][0]["name"] %></h1>
<div>
	<%= form_with url: submit_poll_form local: true do |form| %>
		<% @api_data["items"].each do |question| %>
			<div>
				<%= form.label "question_#{question["serial_no"]}", question["title"] %>
				<%= form.text_field "answers[]", placeholder: "Your Rating", id: "question_#{question["serial_no"]}" %>
			</div>
		<% end %>
	<% end %>
</div>
