<h1><%= @api_data["items"][0]["name"] %></h1>
<div>
	<h2>Please rate each Christmas Carol on scale of 1 to 5 (1 being severely diliked, 5 being extremely liked)</h2>
	<%= form_with url: submit_poll_form_path, local: true do |form| %>
		<% rating_options = (1..5).to_a %>
		<% @api_data["items"].each do |question| %>
			<div>
				<%= form.label nil, "#{question['title']}" %>
				<%= form.select :none, 
					rating_options,
					{ selected: 3 },
					{ name: "answers[]", id: nil }
				%>
			</div>
		<% end %>
	<% end %>
</div>
