/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body 
{
	font-family: Verdana;
	font-size: 14px;
	background-color: rgb(100, 0, 0);
}

h1
{
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

.pollform, .pollresult
{
	width: 600px;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid rgb(200, 0, 0);
	background-color: rgb(0, 200, 0);
	margin: 5% auto 0 auto;
}

button
{
	width: 10em;
	height: 2em;
	margin-top: 10%;
	float: right;
	font-size: 1.5em;
	border-radius: 20px;
	border: 3px solid rgb(255, 2525, 255);
	background-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}

button:hover
{
	background-color: rgb(155, 0, 0);
}

.notice, .alert
{
	width: 100%;
	position: absolute;
	font-size: 0.85em;
	font-weight: bold;
	padding: 0.5em;
	text-align: center;
	left: 0;
	top: 0;
}

.notice
{
	background-color: rgba(100, 255, 100, 0.2);
	color: rgb(0, 255, 0);
}

.alert
{
	background-color: rgba(255, 100, 100, 0.2);
	color: rgb(255, 0, 0);
}