/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body 
{
	font-family: Georgia;
	font-size: 14px;
	background-color: rgb(100, 0, 0);
}

h1
{
	text-align: center;
}

.pollform
{
	width: 600px;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid rgb(200, 0 0);
	background-color: rgb(0, 200, 0);
	margin: 5% auto 0 auto;
}
